body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.main-view {
  min-height: calc(100vh - 164px);
}

.product-card a {
  text-decoration: none;
  color: inherit;
}

.product-card img {
  max-height: 250px;
}

.product-card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.product-card:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  
}
